<div class="text-center">
<h4 ng-show="actuallyCreated">
<font color="green">Promotion successfully created!</font>
</h4>
</div>
<div class="text-center">
<h4 ng-show="updated">
<font color="green">Promotion successfully updated!</font>
</h4>
</div>
<div class="text-center">
<h4 ng-show="deleted">
<font color="red">Promotion successfully deleted!</font>
</h4>
</div>
<div class="text-center">
<button type="button" ng-hide="created" class="btn btn-info" ng-click="createPromotion()">Create Promotion</button>
</div>
<div class="text-center">
<button type="button" ng-show="created" class="btn btn-info" ng-click="createPromotion(newpromotion)">Save Promotion</button>
</div>
<br>
<div>
<table class="table" ng-hide="created">
  <thead>
    <tr>
      <th>Promotion Title</th>
      <th>Code</th>
      <th>Discount (%)</th>
      <th>Expiration Date</th>
      <th>Type</th>
      <th>Applies To</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="promotion in promotions">
      <td><input ng-model="promotion.title"></td>
      <td>{{promotion.code}}</td>
      <td><input ng-model="promotion.discount"></td>
      <td><input ng-model="promotion.readableDate"></td>
      <td><select ng-model="promotion.promotype" ng-options="parameter as parameter for parameter in parameters"></select></td>
      <td><select ng-show="promotion.promotype==='Product'" ng-model="promotion.parameters.product.title" ng-options="product.title as product.title for product in products"></select>
      <select ng-show="promotion.promotype==='Category'" ng-model="promotion.parameters.category.name" ng-options="category.name as category.name for category in categories"></select></td>
      <td><button type="button" class="btn btn-warning" ng-click="editPromotion(promotion)">Update Promotion</button></td>
      <td><button type="button" class="btn btn-danger" ng-click="deletePromotion(promotion)">Delete Promotion</button></td>
    </tr>
  </tbody>
</table>
<table class="table" ng-show="created">
  <thead>
    <tr>
      <th>Promotion Title</th>
      <th>Discount (%)</th>
      <th>Expiration Date</th>
      <th>Type</th>
      <th>Applies To</th>
    </tr>
  </thead>
  <tbody>
    <td><input ng-model="newpromotion.title"></td>
    <td><input ng-model="newpromotion.discount"></td>
    <td><input ng-model="newpromotion.readableDate"></td>
    <td><select ng-model="newpromotion.promotype" ng-options="parameter as parameter for parameter in parameters"></select></td>
    <td><select ng-show="newpromotion.promotype==='Product'" ng-model="productName" ng-options="product.title as product.title for product in products"></select>
    <select ng-show="newpromotion.promotype==='Category'" ng-model="categoryName" ng-options="category.name as category.name for category in categories"></select></td>
  </tbody>
</table>
</div>
<br>


