<div class="container">
  <div ng-repeat="product in products" class="item col-xs-4">
    <div class="thumbnail">
      <div class="adminProductImage" style="background-image: url('{{ product.photoUrl }}'); width: 100%; height: 300px; background-size: contain; background-repeat: no-repeat; background-position: center">
      </div>
      <div class="caption">
        <h4>{{ product.title }}</h4>
        <p class="product-description">{{ product.description }}</p>
        <p>{{ product.price | currency : symbol }}</p>
        <button ng-click="goToEditState(product)" class="edit-product-btn btn btn-primary">Edit Product</button>
      </div>
    </div>
  </div>
</div>

