<div>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Products</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <form>
    <tr ng-repeat="order in orders">
      <td>{{order._id}}</td>
      <td><input ng-model="order.products"></td>
      <td><select ng-model="order.status" ng-options="status as status for status in statuses"></select></td>
      <td><button type="button" class="btn btn-warning" ng-click="editOrder(order)">Edit Order</button></td>
    </tr>
  </tbody>
</table>
</div>