<div ng-controller="AdminEditProductCtrl">
  <form name="editProductForm">
    Photo Url:
    <input name="photoUrl"
           ng-model="product.photoUrl">
    <br>
    Title:
    <input name="title"
           ng-model="product.title">
    <br>
    Description:
    <input name="description"
           ng-model="product.description">
    <br>
    Price:
    <input name="price"
           ng-model="product.price">
    <br>
    Category:
    <select ng-model="product.categories" ng-options="category as category.name for category in product.categories"></select>
    <input name="category"
           ng-model="product.categories[0].name">
    <br>
  </form>
  <button ng-click="save()">Save</button>
</div>

