<div class="container">

  <div class="row">
    <div class="add-button-container">
      <a ui-sref="addProduct" class="btn btn-lg btn-success">Add Product</a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4 choose-category center-block">
      <h4>Filter By Category</h4>
      <select class="form-control"
              ng-model="activeCategory"
              ng-options="category as category.name for category in categories">
        <option value="">All</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div ng-repeat="product in products | filter: filterByCategory" class="item col-xs-4">
      <div class="thumbnail">
        <div class="adminProductImage" style="background-image: url('{{ product.photoUrl }}'); width: 100%; height: 300px; background-size: contain; background-repeat: no-repeat; background-position: center">
        </div>
        <div class="caption">
          <h4>{{ product.title }}</h4>
          <p class="product-description">{{ product.description }}</p>
          <p>{{ product.price/100 | currency : $ }}</p>
          <p><b>{{ product.stock }} in stock</b></p>
          <button ng-click="goToEditState(product)" class="edit-product-btn btn btn-primary">Edit Product</button>
        </div>
      </div>
    </div>
  </div>

</div>

