<div ng-controller="AdminEditProductCtrl">
  <form name="editProductForm">
    Photo Url:
    <input name="photoUrl"
           ng-model="product.photoUrl">
    <br>
    Title:
    <input name="title"
           ng-model="product.title">
    <br>
    Description:
    <input name="description"
           ng-model="product.description">
    <br>
    Price:
    <input name="price"
           ng-model="product.price">
    <br>
    Category:
    <select ng-model="categoryName" ng-options="category as category for category in categories"></select>
    <br>
    <!--<input name="category"-->
           <!--ng-model="product.categories.name">-->
    <!--<button ng-click="addNewCategory(category)">Add New Category </button>-->
    <br>
  </form>
  <button ng-click="save(product)">Save</button>
  <button ng-click="delete(product)">Delete</button>
</div>

