<div class="container" ng-controller="AdminEditProductCtrl">
  <div class="col-xs-4">
    <form name="editProductForm">
      Photo Url:
      <input class="form-control" name="photoUrl"
             ng-model="product.photoUrl">
      <br>
      Title:
      <input class="form-control" name="title"
             ng-model="product.title">
      <br>
      Description:
       <textarea class="description-text-area form-control" name="description"
                 ng-model="product.description">
       </textarea>
      <br>
      Price:
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="text"
               class="form-control"
               ng-model="product.price">
      </div>
      <br>
      Category:
      <select class="form-control" ng-model="categoryName"
              ng-options="category as category for category in categories">
      </select>
      <br>
      <!--<input name="category"-->
      <!--ng-model="product.categories.name">-->
      <!--<button ng-click="addNewCategory(category)">Add New Category </button>-->
      <br>
    </form>
    <button class="btn btn-success" ng-click="save(product)">Save</button>
    <button class="btn btn-danger" ng-show="isEditProduct" ng-click="delete(product)">Delete</button>
  </div>
</div>

