.add-button-container {
  text-align: center;
  padding-bottom: 12px;
}

.item {
  height: 500px;
  margin: 12px 0;
}

.thumbnail {
  height: 100%;
  padding: 0;
}

.edit-product-btn {
  position: absolute;
  bottom: 10px;
  right: 25px;
  background-color: #F38630;
  border-color: #F38630;
}

.edit-product-btn:hover {
  background-color: #e36b0d;
  border-color: #e36b0d;
}

.product-description {
  font-size: small;
}

.description-text-area {
  resize: none;
}

.admin-buttons .btn {
  width:200px;
  display: block;
  margin: 12px auto;
}

.choose-category {
  padding: 20px;
  float: none;
  text-align: center;
}

.product-stock {
  position: absolute;
  bottom: 0%;
}

.product-title {
  text-align: center;
  font-weight: bold;
}






