<nav class="navbar navbar-static-top navbar-blue">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="home"><i class="fa fa-fort-awesome fa-5"></i></i></a>
        </div>
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
        </ul>
        <button ui-sref="cart" class="btn login-button" style="margin-left: 10px">
            <i class="fa fa-shopping-cart fa-5"></i>
        </button>
        <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
        <button ng-show="!user" ui-sref="signup" class="btn login-button">Signup</button>
        <div ng-show="user" class="welcome">
            <span>Welcome, {{ user.email }}!</span>
            <a ng-click="logout()">Logout</a>
        </div>  
    </div>
</nav>