<div class="holygrail">
	<div class="holygrail-nav">
		<div id="sidebar" class="absolute-sidebar">
			<div>
				<h3 style="padding-left: 10px; text-decoration: underline">Categories</h3>
			</div>
			<div
				class="category-btn"
				ng-class="(!activeCategory) ? 'active-btn' : ''"
				ng-click="setCategory()">
				<p>All</p>
			</div>
			<div 
				class="category-btn"
				ng-class="(activeCategory===category) ? 'active-btn' : ''"
				ng-repeat="category in categories"
				ng-click="setCategory(category)">
				<p>{{ category.name }}</p>
			</div>
		</div>
	</div>
	<div class="holygrail-content">
		<h2 class="text-center">{{ activeCategory.name || "All" }} Products</h2>
		<div style="margin-left: 30px;">
			<label>Search</label>
			<input style="width: 200px;" ng-model="titleSearch"/>
		</div>
		<div ng-repeat="product in products | filter: filterByCategory | filter: { title: titleSearch }" class="col-sm-6 col-md-3 products-box">
			<a ui-sref="product({ id: product._id })">
				<div class="products-card" style="background-image: url('{{ product.photoUrl }}')">
					<div class="products-tag">
						<span>{{ product.title }}</span>
						<span class="pull-right">{{ product.price/100 | currency : $ }}</span>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
