navbar {
  z-index: 999999;
  width: 100%;
  display: block;
  position: absolute;
  background: transparent;

  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 10px;
  }

  fullstack-logo {
    display: none;
  }

  a {
    color: black;
    font-size: 20px;
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: darken(#FA6900, 5%);
    }
    &:hover {
      background: none;
      color: #F38630;
    }
    &:focus {
      background: none;
    }
  }

  .login-button {
    float: right;
    border: 1px solid black;
    margin-top: 10px;
    background: none;
    outline: none !important;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: black;
      font-size: 16px;
      margin-right: 5px;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }
}

.navbar-hidden {
  opacity: 0;
}

.navbar-stuck {
  top: 0;
  position: fixed;
  width: 100%;
  transition: .7s;
  opacity: 1;
  background-color: #69D2E7;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 14px -3px black;
  li > a {
    cursor: pointer;
    transition: color 0.2s;
    color: white !important;
    &.active {
      color: lighten(#F38630, 20%) !important;
    }
    &:hover {
      background: none;
      color: #F38630 !important;
    }
    &:focus {
      background: none;
    }
  }
}
