<div class="container">
    <div class="row">
        <form id="reset-form" name="resetForm" ng-model="reset" ng-submit="resetForm.$valid && sendReset()">
            <alert type="{{error.type}}" ng-show="error && !reset">
                {{ error.message }}
            </alert>
            <div class="form-group">
                <label>New Password</label>
                <input type="password" name="newPassword" ng-model="reset.newPassword" class="form-control" placeholder="Password">
            </div>
            <div class="form-group">
                <label>Password Confirmation</label>
                <input type="password" name="newPasswordConfirmation" ng-model="reset.newPasswordConfirmation" class="form-control" placeholder="Please re-enter your password">
            </div>
            <alert type="danger" ng-show="!validPassword() && resetForm.newPasswordConfirmation.$touched && resetForm.newPassword.$touched">
                Passwords do not match.
            </alert>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>