<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th class="text-center">Price</th>
            <th class="text-center">Total</th>
            <th>.</th>
        </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in cart.products">
            <td class="col-sm-8 col-md-6">
            <div class="media">
                <a class="thumbnail pull-left" ui-sref="product({ id: item.product._id })"> <img class="media-object" style="width: 72px; height: 72px;" src="{{item.product.photoUrl}}"> </a>
                <a class="col-sm-1 col-md-1" style="text-align: center" ui-sref="product({ id: item.product._id })">{{item.product.title}}</a>
            </div></td>
            <td class="col-sm-2 col-md-2">
              <div class="input-group">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-danger btn-number" ng-click="update(item.product, -1)">
                    <span class="glyphicon glyphicon-minus"></span>
                  </button>
                </span>
                <input type="text" class="form-control input-number" value="{{ item.quantity }}" min="1" max="{{item.product.stock}}">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-success btn-number" ng-click="update(item.product, 1)" >
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>
                </span>
              </div>
            </td>

            <td class="col-sm-1 col-md-1 text-center"><strong>{{ item.product.price/100 | currency : $ }}</strong></td>
            <td class="col-sm-1 col-md-1 text-center"><strong>{{ (item.product.price/100) * (item.quantity) | currency:$}}</strong></td>
            <td class="col-sm-1 col-md-1" style="text-align: center">
                <button type="button" class="btn btn-danger" ng-click="remove(item.product._id)">
                    <span class="glyphicon glyphicon-remove pull-right"></span> Remove
                </button>
            </td>
          </tr>
        <tr>
            <td>   </td>
            <td>   </td>
            <td>   </td>
            <td><h5>Subtotal</h5></td>
            <td class="text-right"><h5><strong>{{orderSubtotal() | currency:$}}</strong></h5></td>
        </tr>
        <tr>
            <td>   </td>
            <td>   </td>
            <td>   </td>
            <td><h5>Flat Rate Shipping</h5></td>
            <td class="text-right"><h5><strong>$5.00</strong></h5></td>
        </tr>
        <tr>
            <td>   </td>
            <td>   </td>
            <td>   </td>
            <td><h3>Total</h3></td>
            <td class="text-right"><h3><strong>{{orderSubtotal() + 5 | currency:$}}</strong></h3></td>
        </tr>
        <tr>
            <td>   </td>
            <td>   </td>
            <td>   </td>
            <td>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
            </button></td>
            <td>
            <button type="button" class="btn btn-success" ng-click="checkout(item._id)">
                Checkout <span class="glyphicon glyphicon-play"></span>
            </button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>