<!-- <div class="container">
	<div class="row">
		<div class="col-lg-6">
		<h3>Order #: {{ order._id }}</h3>
		<h4>Date Submitted</h4>
		<p>{{ order.dateSubmitted }}</p>
		<h4>Order Total</h4>
		<p>{{ orderTotal() | currency: $ }}</p>
		</div>
	  <table class="table">
		  <thead>
	      <tr>
	        <th>Item</th>
	        <th>Quantity</th>
	        <th>Item Price</th>
	        <th>Total</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="item in order.products">
	        <td>{{ item.product.title }}</td>
	        <td>{{ item.quantity }}</td>
	        <td>{{ item.price/100 | currency: $ }}</td>
	        <td>{{ totalItemPrice(item) | currency: $ }}</td>
	      </tr>
	    </tbody>
		</table>
	</div>
</div> -->


<div class="modal-header">
    <h3 class="modal-title">I'm a modal!</h3>
</div>
<div class="modal-body">
    <ul>
        <li ng-repeat="item in items">
            <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ order }}</a>
        </li>
    </ul>
    Selected: <b>{{ order.products }}</b>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

