/*colors:
orange: #FA6900
light orange: #F38630
gray: #E0E4CC
light blue: #A7DBDB
blue: #69D2E7
*/

* {
  box-sizing: border-box;
  /*font-family: 'Sintony', sans-serif;*/
	font-family: 'Coming Soon', cursive;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.btn-blue {
	background-color: #69D2E7;
	border: 2px solid darken(#69D2E7, 10%);
}

.btn-orange {
	background-color: #F38630;
	border: 2px solid darken(#F38630, 10%);
}

.input-orange {
	border: 2px solid #F38630;
}

.input-orange:focus {
  outline: none !important;
  border:2px solid #FA6900;
  box-shadow: 0 0 7px #F38630;
}

#main {
  margin: 0 auto;
  padding-top: 100px;
}

#heading {
	padding: none;
	height: 180px;
	width: 100%;
	background-image: url('/scss/directives/gplaypattern.png');
	/*========================================================
	 This pattern is downloaded from www.subtlepatterns.com
	 If you need more, that's where to get'em.
	 ========================================================
	*/
	position: relative;
	border-bottom: 1px solid black;
	text-align: center;
	img {
		width: 100px;
		height: 100px;
	}
}

#heading-img {
	margin: 15px auto;
	font-family: 'Delius Unicase', cursive;
	display: inline-block;
	h1 {
		margin: 0;
		color: #69D2E7;
		padding: 8px 0 5px 0;
	}
}

.orange {
	color:#F38630;
}

.light-orange {
	font-size: 1.2em;
	color: #F38630;
}

.black {
	color: black;
}

#footer {
	z-index: 999999;
	width: 100%;
	height: 250px;
	background-color: #A7DBDB;
}

.products-box {
	padding: 20px;
	height: 250px;
}

.products-box:hover {
	.products-card {
		border: 3px solid #F38630;
		transition: .7s;
		&:hover {
			cursor: pointer;
		};
	}
	.products-tag {
		display:block;
		width: 100%;
		position: absolute;
		right: 0;
		bottom: 0;
		height: 60px;
		background-color: rgba(250, 105, 0, .7);
		color: white;
		transition: all .4s ease;
	}
}

.products-card {
	position: relative;
	height: 100%;
	border: 3px solid #E0E4CC;
	background-size: cover;
	background-repeat: no-repeat;
}

.products-tag {
	height: 0;
	overflow: hidden;
}

.product-image {
	height: 500px;
	margin: 10px;
	border: 4px solid #E0E4CC;
	background-size: cover;
	background-repeat: no-repeat;
}

.category-card {
	position: relative;
	height: 100%;
	border: 3px solid #E0E4CC;
}

.category-tag {
	height: 100%;
	width: 100%;
	h2 {
		color: white;
		display: inline-block;
		vertical-align: center;
		opacity: 0;
	}
}

.category-box {
	padding: 20px;
	height: 300px;
}

.category-box:hover {
	.category-card {
		border: 3px solid #F38630;
		transition: .7s;
		&:hover {
			cursor: pointer;
		};
	}
	.category-tag {
		background-color: #FA6900;
		color: white;
		opacity: .5;
		transition: all .4s ease;
		h2 {
			opacity: 1;
			transition: .4s ease
		}
	}
}

#product-container {
	width: 100% !important;
	padding: 0 !important;
	overflow: hidden; 
	.container {
    display:table;
    margin: 0 !important;
    padding: 0 !important;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	}

	.row {
    height: 100%;
    display: table-row;
    margin: 0 !important;
    
	}

	.col-xs-2.no-float, .col-xs-10.no-float {
	    float: none;
	}

	.col-xs-2 {
	    display: table-cell;
	    width: 15%;
	}
	.col-xs-10 {
	    display: table-cell;
	    width: 85%;
	}
}

#sidebar {
	width: 75%;
	font-size: 20px;
	background-color: #E0E4CC;
	padding: 0 !important;
	margin: 0 !important;
	-moz-box-shadow: 2px 2px 3px #888, -2px 2px 3px #888;
	-webkit-box-shadow: 2px 2px 3px #888, -2px 2px 3px #888;
	box-shadow: 2px 2px 3px #888, -2px 2px 3px #888;
	overflow: hidden;
}

.category-btn {
	margin-top: 0 !important;
	padding: 20px 0;
	&:hover {
		color: lighten(#F38630, 5%);
		cursor: pointer;
	};
}

.active-btn {
	background-color: darken(#E0E4CC, 5%);
	color: #F38630;
}

.fixed {
	position: fixed;
}

#all-products {
	padding-top: 100px;
	@media (max-width: 768px) {
		.container {
			width: 100% !important;
		}
	}
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'admin/main';




